<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__links">
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>ZAPATILLAS</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>ROPA</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>NIÑO/A</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>DESTACADOS</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>TIPS</li>
      </a>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul class="footer__social">
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>TWITTER</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>INSTAGRAM</li>
      </a>
      <a class="footer__link" href="https://adalab.es/" target="_blank">
        <li>YOUTUBE</li>
      </a>
    </ul>
  </nav>
  <div class="footer__container">
    <p class="footer__copy">&copy;2023</p>
    <p class="footer__text">we <i class="fa-solid fa-heart"></i> run</p>
  </div>
</footer>
