<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__store">
      <a class="footer__link" href="https://adalab.es/">
        <li>ZAPATILLAS</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>ROPA</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>NIÑO/A</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>DESTACADOS</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>TIPS</li>
      </a>
    </ul>
    <ul class="footer__social">
      <a class="footer__link" href="https://adalab.es/">
        <li>TWITTER</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>INSTAGRAM</li>
      </a>
      <a class="footer__link" href="https://adalab.es/">
        <li>YOUTUBE</li>
      </a>
    </ul>
  </nav>
  <p class="footer__copy">&copy;2023</p>
  <p class="footer__text">we <i class="fa-solid fa-heart"></i> run</p>
</footer>
