<main class="main">
  <section class="hero">
    <img
      class="hero__img"
      src="./assets/images/cover.jpeg"
      alt="Persona atándose una de sus zapatillas"
    />
    <div class="hero__container">
      <h1 class="hero__title">HASTA UN 50% DE DESCUENTO</h1>
      <p class="hero__text">Ya están aquí las ofertas de fin de temporada</p>
      <div class="hero__button">
        <a class="hero__link" href="#section2">
          <img
            class="hero__arrow"
            src="./assets/images/ico-scroll-down.svg"
            alt="Botón con flecha hacia abajo"
          />
        </a>
      </div>
    </div>
  </section>
  <section class="section1">
    <small class="section1__small">Los sentimientos nos inspiran</small>
    <h2 class="section1__title">Conecta Contigo</h2>
    <p class="section1__text">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a
      la plena consciencia que tan bien nos hacen sentir.
    </p>
    <button class="section1__button">Comprar</button>
  </section>
  <section class="section2" id="section2">
    <h2 class="section2__title">Año nuevo, movimientos nuevos</h2>
    <article class="section2__article">
      <h3 class="acticle__title">Entrenamientos</h3>
      <p class="article__text">Sesiones de running y entrenamientos.</p>
    </article>
    <article class="section2__article">
      <h3 class="acticle__title">Cualquier nivel</h3>
      <p class="article__text">Entrenamientos para cada nivel.</p>
    </article>
    <article class="section2__article">
      <h3 class="acticle__title">Exclusividad</h3>
      <p class="article__text">Productos para miembros premium.</p>
    </article>
    <button class="section2__button"></button>
    <a href="" class="section2__link">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Botón con flecha hacia arriba"
        class="section2__button"
      />
    </a>
  </section>
</main>
